option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: investr.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: customer/static
    /css: customer/static/css
    /js: customer/static/js
    /images: customer/static/images
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: investr.settings
